p2pWpf/Service References/p2pService/p2p.Entities.File.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/p2p.Entities.File" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/p2p.Entities.File" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileSearchResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFileInfoDTO" />
      <xs:element minOccurs="0" name="SearchResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileSearchResultDTO" nillable="true" type="tns:FileSearchResultDTO" />
  <xs:complexType name="ArrayOfFileInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfoDTO" nillable="true" type="tns:FileInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfoDTO" nillable="true" type="tns:ArrayOfFileInfoDTO" />
  <xs:complexType name="FileInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:decimal" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="NumOfUsers" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInfoDTO" nillable="true" type="tns:FileInfoDTO" />
  <xs:complexType name="FilesListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFileInfoDTO" />
      <xs:element minOccurs="0" name="SearchResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilesListDTO" nillable="true" type="tns:FilesListDTO" />
  <xs:complexType name="FileRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileRequestDTO" nillable="true" type="tns:FileRequestDTO" />
  <xs:complexType name="FileResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileResponseDTO" nillable="true" type="tns:FileResponseDTO" />
</xs:schema>