p2pWpf/Service References/p2pService/p2p.Entities.Info.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/p2p.Entities.Info" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/p2p.Entities.Info" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatisticsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumOfActiveUsers" type="xs:long" />
      <xs:element minOccurs="0" name="NumOfFiles" type="xs:long" />
      <xs:element minOccurs="0" name="NumOfUsers" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticsDTO" nillable="true" type="tns:StatisticsDTO" />
</xs:schema>