p2pWeb/Service References/p2pService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/p2p.Entities.User" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/p2p.Entities.File" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_loginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:loginUser" />
  </wsdl:message>
  <wsdl:message name="IService1_loginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_enableDisableUser_InputMessage">
    <wsdl:part name="parameters" element="tns:enableDisableUser" />
  </wsdl:message>
  <wsdl:message name="IService1_enableDisableUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:enableDisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsersList_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsersList" />
  </wsdl:message>
  <wsdl:message name="IService1_getUsersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:searchFiles" />
  </wsdl:message>
  <wsdl:message name="IService1_searchFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_downloadRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:downloadRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_downloadRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:downloadRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="loginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loginUser" message="tns:IService1_loginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginUserResponse" message="tns:IService1_loginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerUser" message="tns:IService1_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerUserResponse" message="tns:IService1_registerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="enableDisableUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/enableDisableUser" message="tns:IService1_enableDisableUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/enableDisableUserResponse" message="tns:IService1_enableDisableUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUsersList" message="tns:IService1_getUsersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUsersListResponse" message="tns:IService1_getUsersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteUser" message="tns:IService1_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteUserResponse" message="tns:IService1_deleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateUser" message="tns:IService1_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateUserResponse" message="tns:IService1_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchFiles" message="tns:IService1_searchFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchFilesResponse" message="tns:IService1_searchFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="downloadRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/downloadRequest" message="tns:IService1_downloadRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/downloadRequestResponse" message="tns:IService1_downloadRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="loginUser">
      <soap:operation soapAction="http://tempuri.org/IService1/loginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IService1/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enableDisableUser">
      <soap:operation soapAction="http://tempuri.org/IService1/enableDisableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersList">
      <soap:operation soapAction="http://tempuri.org/IService1/getUsersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchFiles">
      <soap:operation soapAction="http://tempuri.org/IService1/searchFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/downloadRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/p2pWcf/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>